Dogfood_DevMain   : undefined : undefined
Dogfood_CC        : undefined : undefined
Dogfood_FRDC      : undefined : undefined
Dogfood_DCEXT     : undefined : undefined

Microsoft_DevMain : undefined : undefined
Microsoft_CC      : undefined : undefined
Microsoft_FRDC    : undefined : undefined
Microsoft_DC      : undefined : undefined
Microsoft_LTSC    : undefined : undefined

Insiders_DevMain  : undefined : undefined
Insiders_CC       : undefined : undefined
Insiders_FRDC     : undefined : undefined
Insiders_LTSC     : undefined : undefined

Production_CC     : undefined : undefined
Production_DC     : undefined : undefined
Production_LTSC   : undefined : undefined
